- form_for [@project, @story], :html => {:class => "story"} do |f|
  .content
    .view
      %h3= @story.name
      %p.description= format_text(@story.description)
      %a{:href => edit_project_story_path(@project, @story), :class => "edit"} Edit
  
    .edit.hidden
      = f.text_field :name, :class => "name"
      = f.text_area :description
      %div.clearfix.row
        .fl.label
          %label{:for => "story_estimate"} Estimate:
        .fl
          = render :partial => "stories/inspector/estimate_select", :locals => {:form => f}
      %div.clearfix.row.type
        .fl.label
          %label{:for => "story_type"} Type:
        .fl.type_select
          - Story::TYPES.each do |type|
            %label.custom_radio_label{:class => type, :for => "story_story_type_#{type}"}
              = f.radio_button :story_type, type
      %div.clearfix.row
        .fl.label
          %label{:for => "story_type"} State:
        .fl
          = state_select(f)
      %div.clearfix.row
        .fl.label
          %label{:for => "story_owner"} Owner:
        .fl
          = f.collection_select(:owner_id, User.all, :id, :name, :include_blank => true)
      .clearfix.buttons
        %a{:class => "button small save", :href => "#"}
          %span Save
        %a.fr{:class => "cancel", :href => "#"} Cancel