- semantic_form_for [@project, @story] do |f|
  - f.inputs do
    = f.input :name
    = f.input :story_type, :as => :select, :collection => Story::TYPES
    = f.input :current_state, :as => :select, :collection => Story::STATES
    = f.input :description, :as => :text
    = f.input :estimate
    = f.input :owner_id, :collection => User.all

  = f.buttons