- semantic_form_for [@project, @story] do |f|
  - f.inputs do
    = f.input :name
    
    %li.clearfix.story_type
      %label.story_type Type
      .fl.type_select
        - Story::TYPES.each do |type|
          %label.custom_radio_label{:class => type, :for => "story_story_type_#{type}"}
            = f.radio_button :story_type, type
            
    = f.input :current_state, :as => :select, :collection => Story::STATES
    = f.input :description, :as => :text
    
    %li.clearfix.estimate
      %label.estimate Estimate
      .estimate.fl.clearfix
        = render :partial => "stories/inspector/estimate_select", :locals => {:form => f}
    
    = f.input :owner_id, :collection => User.all

  = f.buttons