.content
  - form_for [@project, @story] do |f|
    %h3= @story.name
  
    State:
    %strong
      = f.select :current_state, Story::STATES
    %br
  
    Updated at:
    %strong= @story.updated_at
    %br
  
    Estimate:
    %strong
      = f.text_field :estimate
  
    %p.description= @story.description
    
    = f.submit