.content
  %h3= @story.name
  
  State:
  %strong= @story.current_state
  %br
  
  Updated at:
  %strong= @story.updated_at
  %br
  
  Estimate:
  %strong= @story.estimate
  
  %p.description= @story.description