.story_inspector
  .story_action_buttons
    - if @story.state == "upcoming"
      %a{:href => "#", :class => "story_action start", :"data-state" => 'current'}
        %span Mark as started
    - if @story.state == "current"
      %a{:href => "#", :class => "story_action finish", :"data-state" => 'done'}
        %span Mark as finished
    - if @story.state == "done"
      %a{:href => "#", :class => "story_action archive", :"data-state" => 'archived'}
        %span Move to archive

  
  - form_for [@project, @story], :html => {:class => "story"} do |f|
    .content
      .view
        %h3= @story.name
        %p.description= @story.description
        %a{:href => edit_project_story_path(@project, @story), :class => "edit"} Edit
    
      .edit.hidden
        = f.text_field :name, :class => "name"
        = f.text_area :description
        %div.clearfix
          .fl.label
            %label{:for => "story_estimate"} Estimate:
          .fl
            = estimate_select(f)
        %div.clearfix
          .fl.label
            %label{:for => "story_type"} Type:
          .fl
            = type_select(f)
        %div.clearfix
          .fl.label
            %label{:for => "story_type"} State:
          .fl
            = state_select(f)
        .clearfix.buttons
          %a{:class => "button small save", :href => "#"}
            %span Save
          %a.fr{:class => "cancel", :href => "#"} Cancel
        
        
    .content
      %h3 Links
      
      %ul.links
        %li= link_to "Pivotal Tracker ›", @story.url, :target => "_blank"
        %li
          %input{:type => "text", :class => "message select", :value => commit_message(@story)}
        %li
          %input{:type => "text", :class => "message select", :value => git_flow_message(@story)}