%li.clearfix{:class => story.state}
  .fl.icon
    = image_tag "#{story.story_type}.png"
  .fl
    = story.name
    
    %a{:href => story.url, :target => "_blank"} T→
    %br
    %small== [Progress: ##{story._remote_id}] #{story.name}
    %br
    %small== git flow feature start #{story.name.gsub(/[\s-\.]+/, '_').downcase}_#{story._remote_id}
  .fr
    .state
      = story.state