%li{:class => "story #{story.state} #{story.type}", :id => "story_#{story.id}", :"data-path" => project_story_path(@project, story), :"data-state" => story.state, :"data-type" => story.type, :"data-id" => story.id, :"data-order" => story._collection_order}
  .content.clearfix
    .sort_handle
    .delete_button
      %a{:href => "#"} Delete
    .name.clearfix
      .fl
        = story.name
      .fl
        - if story.owner
          %a.owner{:href => "#"}= story.owner.name
      - if story.tags.present?
        .fl.tags.clearfix
          - story.tags.each do |tag|
            %span.tag= tag
    .details.clearfix
      - if story.estimate && story.estimate != -1
        %span.fl.points= story.estimate
      - if story.notes.present?
        %span.fl.comments= story.notes.count