%ul.stories.done
  = render :partial => "story", :collection => @done
%ul.stories.current
  = render :partial => "story", :collection => @current
%ul.stories.upcoming
  = render :partial => "story", :collection => @upcoming      
%ul.stories.new
  = render :partial => "story", :collection => @new
  
.content
  .clearfix
    %a.tab{:href => new_project_story_path} Add a story
      
= render :partial => "filter"