.content
  %h2 Login
  
  - semantic_form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
    = f.inputs do
      = f.input :email
      = f.input :password
    
    = f.buttons do
      %li.commit
        = f.submit 'Log in'
        &nbsp; &nbsp;
        = link_to 'New account', new_user_registration_path
