.content
  - if params[:day]
    .clearfix
      %h2.fl== Time entries for #{params[:day]}
      %h3.fr
        = link_to '‹ Previous day', time_entries_path(:day => Date.parse(params[:day]) - 1)
        &nbsp;&nbsp;
        = link_to 'Next day ›', time_entries_path(:day => Date.parse(params[:day]) + 1)
  - else
    %h2 Time entries
    
  Total today:
  = @sum_for_day
  %br
  Total this week:
  = @sum_for_week

  - @entries.each do |project, entries|
    - if project
      %h3
        = project.name
        = "(%.2f)" % entries.inject(0) { |sum, e| sum += e.hours }
    - else
      %h3 No project
    
    %table
      %tr
        %th Date
        %th User
        %th Story
        %th Minutes
        %th Hours
        %th
    
      - entries.each do |entry|
        %tr
          %td= entry.date
          %td= entry.user
          %td
            = commit_message(entry.story)
            = entry.note
          %td= entry.total_length
          %td= "%0.2f" % entry.hours
          %td
            = link_to "Edit", edit_time_entry_path(entry)
            = link_to "Remove", remove_time_entry_path(entry), :class => "ajax"
