.content
  %h3 Add time entry
  
  - form_for @entry do |f|
  
    - if @story
      Story: 
      = @story.name
      = f.hidden_field :story_id
      %br
      
    = f.label :started_at
    = f.text_field :started_at
    %br
    = f.label :length
    = f.text_field :length
    %br
    = f.label :note
    = f.text_field :note
    %br
    = f.submit