.content
  %h3 Add time entry
  
  - semantic_form_for @entry do |f|
    - f.inputs do
      - if @story
        Story: 
        = @story.name
        = f.input :story_id, :as => :hidden

      = f.input :started_at
      = f.input :length
      = f.input :note
    
    = f.buttons