#dashboard
  .content
    - @projects.each do |project|
      .dashboard_project[project]
        .clearfix
          %h2.fl
            %input.toggle_project.expanded{:type => "button"}
            = link_to project.name, project_path(project)
          .fr
            - if project.hours_per_week
              .clearfix
                .progress_text.fl
                  == #{project.hours_this_week.to_f.round(2)} out of #{project.hours_per_week}
                %div.progress.fl{:class => "progress_#{project.progress_max}"}
                  %div.progress_bar{:class => "progress_#{project.progress_actual}"}
        - stories = project.stories.where(:state => 'current')
        - if stories.present?
          %ul.dashboard_stories
            - stories.each do |story|
              %li{:class => story.story_type}
                = link_to story.name, project_path(project)+"#/#{story.id}"
        - else
          %ul.dashboard_stories
            %li.none No stories in started state.
    
- if @time_entries.present?        
  - content_for :inspector do
    .content
      %h2= current_user.name
      Hours this week:
      = current_user.hours_this_week.to_f.round(2)
      %br
      Hours today:
      = current_user.hours_today.to_f.round(2)
      %table.time_entries
        - @time_entries.each do |time_entry|
          %tr{:class => time_entry.is_running ? "running" : ""}
            %td
              %span.time= format_as_time(time_entry.total_length)
            %td
              %span.note
                - if time_entry.story
                  %strong= time_entry.story.project.name
                  = link_to time_entry.story.name, project_path(time_entry.story.project) + "#/" + time_entry.story.id.to_s
                - if time_entry.note
                  = time_entry.note
                = link_to "edit ›", edit_time_entry_path(time_entry), :class => "edit"
                = link_to "destroy ›", remove_time_entry_path(time_entry), :class => "edit"