!!!
%html
  = render :partial => "layouts/html_head"

  %body{:class => params[:controller]}
    #wrapper
      #header
        %h1.logo= link_to 'Headwater', dashboard_path
        = render :partial => "layouts/user_status"
        #status
          .content.clearfix
            %h1 Home
      #main
        #sidebar
          %h2 Main
          %ul.simple.navigation
            %li= link_to "Dashboard", dashboard_path
          - if @projects
            %h2 Projects
            %ul.simple.navigation
              - @projects.each do |project|
                %li{:class => viewing?(project) ? "active" : ""}
                  %a{:href => project_path(project)}= project.name
        #document
          = yield
        #inspector.hidden
        
      #footer
        #footer_main
          = yield(:footer)