!!!
%html
  %head
    %title Headwater β
    = stylesheet_link_tag "blueprint/screen", "application"
    = javascript_include_tag "jquery.js", "rails.js", "inscription.js"
    = javascript_include_tag "stories.js", "time_tracker.js"
    = csrf_meta_tag

  %body{:class => params[:controller]}
    #wrapper
      #header
        .content
          %h1.logo Headwater
      #main
        #sidebar
          %h2 Main
          %ul.simple.navigation
            %li= link_to "Dashboard", projects_path
          %h2 Projects
          %ul.simple.navigation
            - @projects.each do |project|
              %li{:class => viewing?(project) ? "active" : ""}
                %a{:href => project_path(project)}= project.name
        #document
          = yield
        #inspector.hidden
        
      #footer
        #footer_main
          = yield(:footer)
        #footer_side