!!!
%html
  = render :partial => "layouts/html_head"

  %body{:class => params[:controller]}
    #wrapper
      #header
        %h1.logo= link_to 'Headwater', projects_path
        #user_status
          - if user_signed_in?
            = link_to 'Account settings', edit_account_path, :class => "ajax"
            %strong= link_to current_user.email, destroy_user_session_path
        #status
          .content.clearfix
            %h1
      #main
        #sidebar
          %h2 Main
          %ul.simple.navigation
            %li= link_to "Dashboard", projects_path
          - if @projects
            %h2 Projects
            %ul.simple.navigation
              - @projects.each do |project|
                %li{:class => viewing?(project) ? "active" : ""}
                  %a{:href => project_path(project)}= project.name
        #document
          - if flash[:notice]
            %p.notice= flash[:notice]
          - if flash[:alert]
            %p.error= flash[:alert]
          = yield
        #inspector.hidden
        
      #footer
        #footer_main
          = yield(:footer)