!!!
%html
  = render :partial => "layouts/html_head"

  %body{:class => params[:controller]}
    #wrapper
      #header
        %h1.logo= link_to 'Headwater', dashboard_path
        = render :partial => "layouts/user_status"
        #status
          .content.clearfix
            %h1 Dashboard
      #main
        #document.dashboard
          - if flash[:notice]
            %p.notice= flash[:notice]
          - if flash[:alert]
            %p.error= flash[:alert]
          = yield
        #inspector.hidden
        
      #footer
        #footer_main
          = yield(:footer)