!!!
%html
  = render :partial => "layouts/html_head"

  %body{:class => params[:controller] + " " + (content_for?(:inspector) ? "with_inspector" : "")}
    #wrapper
      #header
        %h1.logo= link_to 'Headwater', dashboard_path
        = render :partial => "layouts/user_status"
        #status
          .content.clearfix
            %h1 Dashboard
          #time_tracker{:"data-path" => current_time_entries_path}          
      #main
        #document.dashboard
          = yield
        - if content_for?(:inspector)
          #inspector
            = yield(:inspector)
        - else
          #inspector.hidden
        
      #footer
        #footer_main
          = yield(:footer)