!!!
%html
  = render :partial => "layouts/html_head"

  %body{:class => params[:controller]}
    #wrapper
      #header
        %h1.logo= link_to 'Headwater', projects_path
        #user_status
          = link_to 'Project settings', edit_project_path(@project)
          = link_to 'Account settings', edit_registration_path(current_user)
          %strong= link_to current_user.email, destroy_user_session_path
        #status
          .content.clearfix
            .fl
              %h1= @project.name
            .fl
              %ul.navigation.clearfix
                %li.active
                  %a{:href => project_path(@project)} Stories
                %li
                  %a{:href => time_entries_path} Reports
          #time_tracker{:"data-path" => current_time_entries_path}          
      #main
        #sidebar
          %h2 Main
          %ul.simple.navigation
            %li= link_to "Dashboard", projects_path
          - if @projects
            %h2 Projects
            %ul.simple.navigation
              - @projects.each do |project|
                %li{:class => viewing?(project) ? "active" : ""}
                  %a{:href => project_path(project)}= project.name
        #document
          - if flash[:notice]
            %p.notice= flash[:notice]
          - if flash[:alert]
            %p.error= flash[:alert]
          = yield
        #inspector.hidden
        
      #footer
        #footer_main
          = yield(:footer)
        
