!!!
%html
  = render :partial => "layouts/html_head"

  %body{:class => params[:controller]}
    #wrapper
      #header
        %h1.logo= link_to 'Headwater', dashboard_path
        .loader
        = render :partial => "layouts/user_status"
        #status
          .content.clearfix
            .fl.project_name
              %h1= @project.name
            .fl
              %ul.navigation.clearfix
                %li
                %li{:class => params[:controller] == "stories" ? "active" : ""}
                  %a{:href => project_path(@project)} Stories
                %li{:class => params[:controller] == "time_entries" ? "active" : ""}
                  %a{:href => project_time_entries_path(@project)} Reports
          #time_tracker{:"data-path" => current_time_entries_path}          
      #project_switcher.hidden
        %h2 Switch to project
        %ul
          - @projects.each do |project|
            %li= link_to project.name, project_path(project)
      #main
        #sidebar
          %h2 Main
          %ul.simple.navigation
            %li= link_to "Dashboard", projects_path
          - if @projects
            %h2 Projects
            %ul.simple.navigation
              - @projects.each do |project|
                %li{:class => viewing?(project) ? "active" : ""}
                  %a{:href => project_path(project)}= project.name
        #document
          - if flash[:notice]
            %p.notice= flash[:notice]
          - if flash[:alert]
            %p.error= flash[:alert]
          = yield
        #inspector.hidden
        
      #footer
        #footer_main
          = yield(:footer)